#app {
	.main-container {
		// margin-top: 84px;
		min-height: calc(100% - 50px);
		transition: margin-left 0.28s;
		margin-left: $base-sidebar-width;
		position: relative;
		top: 50px;
		overflow: hidden;
	}

  .nav-bar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }


	.sidebar-container {
		-webkit-transition: width 0.28s;
		transition: width 0.28s;
		width: $base-sidebar-width;
		background-color: $base-menu-background;
		position: fixed;
		top: 50px;
		left: 0;
		bottom: 0;
		-webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
		box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
	}
}
